body {
    height: 100vh;
    margin: 0;
}

.container {
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#map {
    flex: 0.8;
}

.actions {
    flex: 0.2
}